<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          jenkins-ephemeral
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            Namespace: openshift<br/>
            Jenkins service, without persistent storage.<br/>
            WARNING: Any data stored will be lost upon pod destruction. Only use this template for testing<br/>
          </li>
        </ol>
      </div>
      <div class="col-lg-12">
        <h3 class="page-header">
          Images
        </h3>
        <ol class="breadcrumb">
          <li class="active">JENKINS_IMAGE_STREAM_TAG
          </li>
        </ol>
      </div>
    </div>

    <hr class="mt-0">

    <div class="row">
      <div class="col-xl-12">
        <form role="form">
          <fieldset class="form-group">
            <label class="must-type">Jenkins Service Name</label>
            <input name="name" class="form-control" placeholder="jenkins">
            <p class="help-block text-describe">The name of the OpenShift Service exposed for the Jenkins container.
            </p>
          </fieldset>

          <fieldset class="form-group">
            <label>Jenkins JNLP Service Name</label>
            <input class="form-control" placeholder="jenkins-jnlp">
            <p class="help-block text-describe">The name of the service used for master/slave communication.</p>
          </fieldset>

          <fieldset class="form-group">
            <label>* Jenkins Password</label>
            <input class="form-control" placeholder="Generated if empty">
            <p class="help-block text-describe">Password for the Jenkins 'admin' user.</p>
          </fieldset>

          <fieldset class="form-group">
            <label>Memory Limit</label>
            <input class="form-control" value="512Mi">
            <p class="help-block text-describe">Maximum amount of memory the container can use..</p>
          </fieldset>

          <fieldset class="form-group">
            <label>Jenkins ImageStream Namespace</label>
            <input class="form-control" value="openshift">
            <p class="help-block text-describe">The OpenShift Namespace where the Jenkins ImageStream resides.</p>
          </fieldset>

          <fieldset class="form-group">
            <label>Jenkins ImageStreamTag</label>
            <input class="form-control" value="jenkins:latest">
            <p class="help-block text-describe">Name of the ImageStreamTag to be used for the Jenkins image.</p>
          </fieldset>

          <hr class="mt-0">

          <div class="row">
            <h5 class="col-sm-12">Labels</h5>
            <label>The following labels are being added automatically. If you want to override them, you can do so below.</label>
            <fieldset class="form-group col-sm-6">
              <input class="form-control" placeholder="template">
              <input class="form-control" placeholder="jenkins-ephemeral-template">
              <input class="form-control" placeholder="app">
              <input class="form-control" placeholder="jenkins-ephemeral">
            </fieldset>
            <fieldset class="form-group col-sm-6">
              <label class="must-type">Each label is applied to each created resource.</label>
              <input class="form-control" placeholder="Name">
              <input class="form-control" placeholder="Value">
            </fieldset>
          </div>

          <button type="button" routerLink="/cicd" class="btn btn-primary">Create</button>
          <button class="btn btn-secondary" routerLink="/cicd">Cancel</button>
        </form>
      </div>
    </div>

  </div>
</div>
