<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink=""><i class="fa fa-dashboard"></i> 控制台</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/deployment"><i class="fa fa-cube"></i> 部署</a>
        </li>
        <li class="breadcrumb-item active">
          {{deployment.name}}
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <label><strong>{{deployment.name}}</strong>&nbsp;
        <small> 创建于{{deployment.created}}</small>
      </label>
      <div ngbDropdown class="d-inline-block pull-right">
        <button class="btn btn-info">部署</button>
        <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>操作</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <button class="dropdown-item">附加存储</button>
          <button class="dropdown-item">设置资源限制</button>
          <button class="dropdown-item">添加自动伸缩</button>
          <button class="dropdown-item">编辑健康检查</button>
          <button class="dropdown-item">编辑YAML</button>
          <button class="dropdown-item">删除</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div ngbRadioGroup name="radioBasic">
        <label class="btn btn-primary">
          <input type="radio" [value]="1">app
        </label>
        <label class="btn btn-secondary">
          <input type="radio" value="middle">nodejs-mongodb-example
        </label>
      </div>
      <div ngbRadioGroup name="radioBasic2">
        <label class="btn btn-primary">
          <input type="radio" [value]="1">template
        </label>
        <label class="btn btn-secondary">
          <input type="radio" value="middle">nodejs-mongodb-example
        </label>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px">
    <div class="col-xl-12">
      <ngb-tabset>
        <ngb-tab class="row " title="详细信息">
          <template ngbTabContent>
            <div class="col-lg-6">
              <div class="clearfix">
                <h5 class="mt-10 bottom-line">配置</h5>
                <dl class="dl-horizontal">
                  <dt>选择器</dt>
                  <dd>名称=mongodb</dd>
                  <dt>Replicas</dt>
                  <dd>1 replicas</dd>
                  <dt>策略</dt>
                  <dd>Recreate</dd>
                </dl>
              </div>

              <div class="clearfix">
                <h5 class="mt-10 bottom-line">模板</h5>
                <div>
                  <h6>容器： MONGODB</h6>
                  <ul>
                    <li><strong>Image:</strong> centos/mongodb-32-centos7</li>
                    <li><strong>Ports:</strong> 27017/TCP</li>
                    <li><strong>Mount:</strong> mongodb-data → /var/lib/mongodb/data</li>
                    <li><strong>Memory:</strong> 512 MiB to 512 MiB</li>
                    <li><strong>Readiness Probe::</strong></li>
                    <li><strong>Liveness Probe:</strong> Open socket on port 27017 30s delay, 1s timeout</li>
                  </ul>
                </div>

                <dl class="dl-horizontal">
                  <dt>类型</dt>
                  <dd>empty dir</dd>
                  <dt>Medium</dt>
                  <dd>node's default</dd>
                </dl>
              </div>
            </div>

            <div class="col-lg-6">
              <div>
                <h5 class="mt-10 bottom-line"> 自动伸缩 </h5>
                <a>增加自动伸缩</a>
              </div>

              <div>
                <h5 class="mt-10 bottom-line"> 触发器 </h5>
                <dl class="dl-horizontal">
                  <dt>Manual (CLI):</dt>
                  <dd></dd>
                  <dt>New image for:</dt>
                  <dd>openshift/mongodb:3.2</dd>
                  <dt>Change of:</dt>
                  <dd>Config</dd>
                </dl>
              </div>
            </div>


            <div class="row mt-10">
              <div class="col-lg-12">
                <div class="card card-default">
                  <div class="card-block">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>部署</th>
                          <th>状态</th>
                          <th>创建时间</th>
                          <th>触发</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>#1 (latest)</td>
                          <td>取消</td>
                          <td>七天前</td>
                          <td>镜像改变</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </ngb-tab>


        <ngb-tab title="环境">
          <template ngbTabContent>
            <div style="margin-top: 20px">
              <h5> Mongodb 容器环境变量 </h5>
              <table class="table">
                <thead>
                <tr>
                  <th>名称</th>
                  <th>值</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><input type="text" value="MONGODB_USER"></td>
                  <td><input type="text" value="userM8U"></td>
                </tr>
                <tr>
                  <td><input type="text" value="MONGODB_PASSWORD"></td>
                  <td><input type="text" value="MTiwbF7tK4TTL1Iu"></td>
                </tr>
                </tbody>
              </table>

              <button class="btn-sm btn-info">保存</button>

            </div>
          </template>
        </ngb-tab>

        <ngb-tab title="事件">
          <template ngbTabContent>
            <div class="row" style="margin-top: 10px">
              <div class="col-xl-12">
                <input type="text" placeholder="Filter by keyword">
                排序方式<select>
                <option>时间</option>
                <option>严重性</option>
                <option selected>原因</option>
                <option>消息</option>
                <option>计数</option>
              </select>
              </div>
            </div>
            <div class="row" style="margin-top: 10px;">
              <div class="col-xl-12">
                <div class="card card-default">
                  <div class="card-block">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>时间</th>
                          <th>原因</th>
                          <th>消息</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td colspan="3">没有要显示的事件。</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>


</div>
