.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.dl-horizontal dd {
  float: left;
}

.mt-10{
  margin-top: 10px;
}

.bottom-line{
  border-bottom: 2px solid #e5e5e5;
  padding: 5px;
}

