<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink=""><i class="fa fa-dashboard"></i> 控制台</a>
        </li>
        <li class="breadcrumb-item active">
          <i class="fa fa-eercast"></i> 网络管理
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <a class="btn btn-outline-primary" href="javascript:void(0)" data-toggle="modal" data-target="#importSubnetModal">
        <i class="fa fa-plus mr-1"></i>导入网络
      </a>
      <a class="btn btn-outline-primary" href="javascript:void(0)" (click)="removeSubnet()">
        <i class="fa fa-minus mr-1"></i>移除网络
      </a>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-lg-12">
      <div class="card card-default">
        <div class="card-block">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>ID</th>
                <th>子网名称</th>
                <th>状态</th>
                <th>ip</th>
                <th>子网掩码</th>
                <th>网关</th>
                <th>路由器</th>
                <th>创建时间</th>
              </tr>
              </thead>
              <tbody  *ngIf="subnets">
              <tr *ngFor="let item of subnets">
                <td><input type="checkbox" (change)="checkSubnetRemove($event, item.id)" [value]="item.id"> {{item.id}}</td>
                <td>{{item.name}}</td>
                <td *ngIf="item.subnetBindMap!==null">已绑定</td>
                <td *ngIf="item.subnetBindMap===null">{{item.status | iaasStatus}}</td>
                <td>{{item.ip}}</td>
                <td>{{item.mask}}</td>
                <td>{{item.gateway}}</td>
                <td>
                  <span *ngIf="item.subnetBindMap!==null">{{item.subnetBindMap.routerName}}</span>
                </td>
                <td>{{item.createTime | date}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="importSubnetModal" tabindex="-1" role="dialog" aria-labelledby="importSubnetModalLabel" aria-hidden="true">
  <form #routersForm="ngForm" (ngSubmit)="importSubnetSubmit()">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createRouterModalLabel">导入子网</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-import-subnet [importSubnetList]="subnetList" [importProectList]="projectList" (onSave)="saveChkSubnetIds($event)"></app-import-subnet>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-secondary" data-dismiss="modal" (click)="resetSubnetIds()">取消</button>
          <button type="submit" class="btn btn-primary" [disabled]="!importFlag">导入</button>
        </div>
      </div>
    </div>
  </form>
</div>
