<div class="row">
  <div class="col col-6">
    <div class="form-group" >
      <div class="form-group" style="margin-top: 20px;">
        <table style="margin-left: 100px; border: 1px solid transparent;">
          <tr>
            <td  style="width: 100px">组织：</td>
            <select class="form-control"  [(ngModel)]="org.id" name="orgId" required>
              <option *ngFor="let org of orgs" value="{{org.uuid}}">{{org.name}}</option>
            </select>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
