<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink=""><i class="fa fa-dashboard"></i> 控制台</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/pod"><i class="fa fa-eercast"></i> Pods</a>
        </li>
        <li class="breadcrumb-item active">
          {{pod.name}}
        </li>
      </ol>
    </div>
  </div>


  <div class="row">
    <div class="col-xl-12">
      <label><strong>{{pod.name}}</strong>&nbsp;
        <small> 创建于{{pod.age}}</small>
      </label>
      <div ngbDropdown class="d-inline-block pull-right">
        <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>操作</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <button class="dropdown-item">编辑YAML</button>
          <button class="dropdown-item">删除</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div ngbRadioGroup name="radioBasic">
        <label class="btn btn-sm btn-primary">
          <input type="radio" [value]="1">deployment
        </label>
        <label class="btn btn-sm btn-secondary">
          <input type="radio" value="middle">mongodb-2
        </label>
      </div>
      <div ngbRadioGroup name="radioBasic2">
        <label class="btn  btn-sm btn-primary">
          <input type="radio" [value]="1">deploymentconfig
        </label>
        <label class="btn btn-sm btn-secondary">
          <input type="radio" value="middle">mongodb
        </label>
      </div>
      <div ngbRadioGroup name="radioBasic2">
        <label class="btn  btn-sm btn-primary">
          <input type="radio" [value]="1">name
        </label>
        <label class="btn btn-sm btn-secondary">
          <input type="radio" value="middle">mongodb
        </label>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px">
    <div class="col-xl-12">
      <ngb-tabset>
        <ngb-tab class="row " title="详细信息">
          <template ngbTabContent>
            <div class="col-lg-6">
              <div class="clearfix">
                <h5 class="mt-10 bottom-line">状态</h5>
                <dl class="dl-horizontal">
                  <dt>状态:</dt>
                  <dd>{{pod.status}}</dd>
                  <dt>IP:</dt>
                  <dd>10.130.0.14</dd>
                  <dt>Node:</dt>
                  <dd>192.168.2.44</dd>
                  <dt>重启策略:</dt>
                  <dd>总是</dd>
                </dl>
              </div>

              <div class="clearfix">
                <h6 class="mt-10 "> 容器 mongodb</h6>
                <dl class="dl-horizontal">
                  <dt>状态:</dt>
                  <dd>Running</dd>
                  <dt>Ready:</dt>
                  <dd>true</dd>
                  <dt>重启次数:</dt>
                  <dd>0</dd>
                </dl>
              </div>
            </div>

            <div class="col-lg-6">
              <div>
                <h5 class="mt-10 bottom-line"> 模板 </h5>
              </div>
              <div>
                <h6>容器： MONGODB</h6>
                <ul>
                  <li><strong>Image:</strong> centos/mongodb-32-centos7</li>
                  <li><strong>Ports:</strong> 27017/TCP</li>
                  <li><strong>Mount:</strong> mongodb-data → /var/lib/mongodb/data</li>
                  <li><strong>Memory:</strong> 512 MiB to 512 MiB</li>
                  <li><strong>Readiness Probe::</strong></li>
                  <li><strong>Liveness Probe:</strong> Open socket on port 27017 30s delay, 1s timeout</li>
                </ul>
              </div>

              <div>
                <h6>卷</h6>
                <span class="mt-10">mongodb-data</span>
                <div class="clearfix">
                  <h5 class="mt-10 bottom-line">状态</h5>
                  <dl class="dl-horizontal">
                    <dt>类型:</dt>
                    <dd>empty dir</dd>
                    <dt>Medium:</dt>
                    <dd>node's default</dd>
                  </dl>
                </div>
                <span class="mt-10">default-token-3z6w8</span>
                <div class="clearfix">
                  <h5 class="mt-10 bottom-line">状态</h5>
                  <dl class="dl-horizontal">
                    <dt>类型:</dt>
                    <dd>secret</dd>
                    <dt>Secret name:</dt>
                    <dd>default-token-3z6w8</dd>
                  </dl>
                </div>
              </div>
            </div>

          </template>
        </ngb-tab>


        <ngb-tab title="环境">
          <template ngbTabContent>
            <div style="margin-top: 20px">
              <h5> Mongodb 容器环境变量 </h5>
              <table class="table">
                <thead>
                <tr>
                  <th>名称</th>
                  <th>值</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><input type="text" value="MONGODB_USER"></td>
                  <td><input type="text" value="userM8U"></td>
                </tr>
                <tr>
                  <td><input type="text" value="MONGODB_PASSWORD"></td>
                  <td><input type="text" value="MTiwbF7tK4TTL1Iu"></td>
                </tr>
                </tbody>
              </table>

              <button class="btn-sm btn-info">保存</button>

            </div>
          </template>
        </ngb-tab>

        <ngb-tab title="日志">
          <template ngbTabContent>
            <div class="mt-10"><span>Container:</span>mongodb - Running</div>
            <div class="mt-10" style="height: 500px; background: black"></div>
          </template>
        </ngb-tab>

        <ngb-tab title="终端">
          <template ngbTabContent>
            <div class="mt-10"> When you navigate away from this pod, any open terminal connections will be closed. This
              will kill any foreground processes you started from the terminal.
            </div>
            <div  class="mt-10 " style="height: 500px; background: black"></div>
          </template>
        </ngb-tab>

        <ngb-tab title="事件">
          <template ngbTabContent>
            <div class="row" style="margin-top: 10px">
              <div class="col-xl-12">
                <input type="text" placeholder="Filter by keyword">
                排序方式<select>
                <option>时间</option>
                <option>严重性</option>
                <option selected>原因</option>
                <option>消息</option>
                <option>计数</option>
              </select>
              </div>
            </div>
            <div class="row" style="margin-top: 10px;">
              <div class="col-xl-12">
                <div class="card card-default">
                  <div class="card-block">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>时间</th>
                          <th>原因</th>
                          <th>消息</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td colspan="3">没有要显示的事件。</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>


</div>
