<div>
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink=""><i class="fa fa-dashboard"></i> 控制台</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/volumeType"><i class="fa fa-eercast"></i> 云硬盘存储类型</a>
        </li>
        <li class="breadcrumb-item active">
          导入存储类型
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <form role="form" #volumeTypeForm="ngForm">
        <fieldset class="form-group">
          <label class="must-type">* 名称</label>
          <input class="form-control" name="volumeTypeName" #name="ngModel" [(ngModel)]="createVolumeType.name" required minlength="3" placeholder="名称">
          <div *ngIf="name.invalid && (name.dirty || name.touched)"
               class="alert alert-danger">
            <div *ngIf="name.errors.required">
              名称为必填项
            </div>
            <div *ngIf="name.errors.minlength">
              名称最小长度为3
            </div>
          </div>
          <div *ngIf="existName(createVolumeType.name)" class="alert alert-danger">
            此名称已存在系统中
          </div>
        </fieldset>

        <fieldset class="form-group">
          <label class="must-type">* 存储类型</label>
          <!-- 具备条件时应使用下拉框选择存储类型。现在条件不具备，暂时使用手动命名的方式 2017.12.14标记 -->
          <input name="display_name" class="form-control" #display_name="ngModel" pattern="(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?"
                 [(ngModel)]="createVolumeType.display_name" required required minlength="3" placeholder="存储类型">
          <div *ngIf="display_name.invalid && (display_name.dirty || display_name.touched)"
               class="alert alert-danger">
            <div *ngIf="display_name.errors.required">
              类型为必填项
            </div>
            <div *ngIf="display_name.errors.minlength">
              类型命名最小长度为3
            </div>
          </div>
          <div *ngIf="existDisplayName(createVolumeType.display_name)" class="alert alert-danger">
            此类型已存在系统中
          </div>
        </fieldset>

        <div class="row">
          <div class="col-xl-12">
            <h5>说明：</h5>
            <p>云硬盘类型标签可以在创建云硬盘的时候指定。
              它通常映射到用来创建这些云硬盘的存储后端 驱动的特性集合。例如“性能”、“SSD”、“备份”等。 这等同于cinder type-create命令。
              一旦云硬盘类型被创建，点击"查看扩展规格"按钮 去设置云硬盘类型的扩展规格键值对。</p>
          </div>
        </div>

        <button type="submit" data-toggle="modal" class="btn btn-primary" [disabled]="volumeTypeForm.invalid || existName(createVolumeType.name) || existDisplayName(createVolumeType.display_name)" (click)="createVolumeTypeSubmit()">导入</button>
        <button class="btn btn-secondary" routerLink="/volumeType">取消</button>
      </form>
    </div>
  </div>
</div>
