<div>
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink=""><i class="fa fa-dashboard"></i> 控制台</a>
        </li>
        <li class="breadcrumb-item active">
          <i class="fa fa-hdd-o"></i> 存储
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button  routerLink="create-storage" class="btn btn-sm pull-right off-side btn-info" >创建存储</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-default">
        <div class="card-block">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>名称</th>
                <th>状态</th>
                <th>容量</th>
                <th>访问模式</th>
                <th>创建时间</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><a href="javascript:void(0)">test_1</a></td>
                <td>可用</td>
                <td>512 MB</td>
                <td>独占(RWO)</td>
                <td>一天前</td>
              </tr>
              <tr>
                <td><a href="javascript:void(0)">test_2</a></td>
                <td>可用</td>
                <td>128 GB</td>
                <td>共享(RWX)</td>
                <td>一年前</td>
              </tr><tr>
                <td><a href="javascript:void(0)">test_3</a></td>
                <td>可用</td>
                <td>200 TB</td>
                <td>只读(ROX)</td>
                <td>七天前</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

