<div class="row">
  <div class="col col-6">
    <div class="form-group">
      <!--导入防火墙-->
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>名称</th>
          <th>组织</th>
          <!--<th>状态</th>-->
          <!--<th>创建时间</th>-->
        </tr>
        </thead>
        <tbody  *ngIf="importFirewallList">
        <tr *ngFor="let item of importFirewallList">
          <template [ngIf]="item?.isUsed!='true'">
          <td><input type="checkbox" (change)="checkFirewallImport($event, item.id)" [value]="item.id">{{item.id}}</td>
          <td>{{item.name}}</td>
          <!--<td>{{item.status}}</td>-->
          <!--<td>{{item.created_at}}</td>-->
          </template>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
