<template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <p>你确定要删除项目'<strong>{{project.name}}</strong>'吗？</p>
    <p>
      这将删除与项目{{project.name}}关联的<strong>所有资源</strong> 并且 <strong>无法撤销</strong>。确保这是你真正想做的事！

    </p>
    <div>
      <p>键入要确认的项目的名称：</p>
      <p>
        <input type="text" [(ngModel)]="name" placeholder="名称">
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" *ngIf="name===project.name" class="btn btn-danger" (click)="c(project.id)">删除</button>
    <button type="button" class="btn btn-success" (click)="c()">取消</button>
  </div>
</template>
<i (click)="open(content)" class="fa fa-trash-o" aria-hidden="true"></i>
