<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <!--<h1 class="page-header">
          控制台
        </h1>-->
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-dashboard"></i> 控制台
          </li>
        </ol>
      </div>

      <h4>容器控制台</h4>
      <div id="noVNC_screen">
        <!--<div id="noVNC_status_bar" class="noVNC_status_error" style="margin-top: 0px;">
          <table border="0" width="100%">
            <tbody>
            <tr>
              <td>
                <div id="noVNC_status" style="position: relative; height: auto;">Failed to connect to server (code:
                  1006)
                </div>
              </td>
              <td width="1%">
                <div id="noVNC_buttons">
                  <input type="button" value="Send CtrlAltDel" id="sendCtrlAltDelButton" disabled=""
                         style="display: inline;">
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>-->
        <img src="app/console/cli/cli.png" />
      </div>

    </div>

  </div>
  <!-- /.container-fluid -->

</div>
