<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink=""><i class="fa fa-dashboard"></i> 控制台</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/cluster"><i class="fa fa-arrows-alt"></i>集群管理</a>
          </li>
          <li class="breadcrumb-item active">
            增加节点
          </li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12">
        <form role="form" (submit)="onSubmit()">
          <fieldset class="form-group">
            <label class="must-type">* 节点名称</label>
            <input name="name" class="form-control" [(ngModel)]="name" required placeholder="节点名称">
          </fieldset>

          <fieldset class="form-group">
            <label class="must-type">* 节点地址</label>
            <input class="form-control" placeholder="节点地址" name="host"
                   [(ngModel)]="ip">
          </fieldset>

          <button data-toggle="modal" data-target="#infoModal" type="submit" class="btn btn-primary">创建</button>
          <a class="btn btn-secondary" routerLink="/cluster">取消</a>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">创建节点</h4>
      </div>
      <div class="modal-body">
        正在创建中，请稍后...
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
