<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Console
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-dashboard"></i> Console
          </li>
        </ol>
      </div>

      <h4>Service Rows</h4>
      <div class="card card-block">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
            <tr>
              <th>服务名</th>
              <th>集群</th>
              <th>状态</th>
              <th>创建时间	</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><a routerLink="/cli">nginx-app</a></td>
              <td>jun-cluster</td>
              <td>已创建</td>
              <td>1天前</td>
            </tr>
            <tr>
              <td><a routerLink="/cli">tomcat-app</a></td>
              <td>guo-cluster</td>
              <td>已创建</td>
              <td>1天前</td>
            </tr>
            <tr>
              <td><a routerLink="/cli">redies-app</a></td>
              <td>victor-cluster</td>
              <td>已创建</td>
              <td>1天前</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->
