<div class="row">
  <div class="col-lg-12">
    <form role="form" #zoneForm="ngForm" (change)="check(zoneForm.invalid)">
      <fieldset class="form-group">
        <label class="must-type">* 区域名称</label>
        <input class="form-control" name="zoneName" #name="ngModel" [(ngModel)]="zoneName" required pattern="(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?" placeholder="区域代码" >
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="alert alert-danger">
          <div *ngIf="name.errors.pattern">
            区域名称格式不合法，正确格式如：'MyValue' 或者 'my_value' 或者 '12345'
          </div>
          <div *ngIf="name.errors.required">
            区域名称为必填项
          </div>
        </div>
        <div *ngIf="exist(zoneName)" class="alert alert-danger">
          此区域名称已存在系统中
        </div>
      </fieldset>

      <fieldset class="form-group">
        <label class="must-type">* 显示名称</label>
        <input class="form-control" #displayName="ngModel" name="zoneDisplayName" [(ngModel)]="zoneDisplayName" required placeholder="任意字符" >
        <div *ngIf="displayName.invalid && (displayName.dirty || displayName.touched)"
             class="alert alert-danger">
          <div *ngIf="displayName.errors.required">
            名称为必填项
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
