<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink=""><i class="fa fa-dashboard"></i> 控制台</a>
        </li>
        <li class="breadcrumb-item active">
          <i class="fa fa-eercast"></i> 集群管理
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button  routerLink="create-node" class="btn btn-sm pull-right off-side btn-info" >增加节点</button>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-lg-12">
      <div class="card card-default">
        <div class="card-block">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>名称</th>
                <th>外部ip地址</th>
                <th>内部ip地址</th>
                <th>CPU</th>
                <th>内存</th>
                <th>创建时间</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of nodes">
                <td><a routerLink="{{item.metadata.name}}" href="Javascript:void(0)">{{item.metadata.labels["qy_name"]?item.metadata.labels.qy_name:item.metadata.name}}</a></td>
                <td>{{item.metadata.labels["qy_external_ip"]?item.metadata.labels.qy_external_ip:item.spec.externalID}}</td>
                <td>{{item.status.addresses[1].address}}</td>
                <td>{{item.status.capacity.cpu}}</td>
                <td>{{item.status.capacity.memory}}</td>
                <td>{{item.metadata.creationTimestamp}}</td>
                <td *ngIf="item.metadata?.labels.qy_role==='worker'"><button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#infoModal" (click)="removeNode(item.metadata.name, item.spec.externalID, item.status.addresses[1].address)">删除</button></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">删除节点</h4>
      </div>
      <div class="modal-body">
        正在删除中...
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
