<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <!--<h1 class="page-header">-->
        <!--Route-->
        <!--</h1>-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink=""><i class="fa fa-dashboard"></i> 控制台</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/route"><i class="fa fa-arrows-alt"></i> 路由</a>
          </li>
          <li class="breadcrumb-item active">
            {{appRoute.name}}
          </li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10">
        <span class="info-title">{{appRoute.name}}</span>&nbsp;&nbsp;
        <small class="">三天前创建</small>
      </div>
      <div class="d-inline-block  col-sm-2 " ngbDropdown #myDrop="ngbDropdown">
        <button class="btn btn-info btn-sm pull-right" id="dropdownMenu1" ngbDropdownToggle>操作</button>
        <div class="dropdown-menu dropdown-right" aria-labelledby="dropdownMenu1">
          <button class="dropdown-item">编辑</button>
          <button class="dropdown-item">编辑 YAML</button>
          <button class="dropdown-item">删除</button>
        </div>
      </div>
    </div>

    <table class="table mt-10 no-border-table">
      <tbody>
      <tr>
        <th>主机名:</th>
        <td>{{appRoute.hostName}}</td>
      </tr>
      <tr>
        <th>路径:</th>
        <td>{{appRoute.path}}</td>
      </tr>
      <tr>
        <th>服务:</th>
        <td>{{appRoute.service}}</td>
      </tr>
      <tr>
        <th>目标端口</th>
        <td>{{appRoute.targetPort}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
