.info-title{
  font-size: 1.5rem;
}
.mt-10{
  margin-top: 10px ;
}

.no-border-table{
  font-size: 0.8rem;
}
.no-border-table td{
  border:none;
  padding: 0.3rem;
  width: 70%;
}
.no-border-table th{
  border:none;
  padding: 0.3rem;
  width: 30%;
}
.dropdown-right{
  left: -15px;;
}
