<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink=""><i class="fa fa-dashboard"></i> 控制台</a>
        </li>
        <li class="breadcrumb-item active">
          <i class="fa fa-eercast"></i> 外网管理
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <a class="btn btn-outline-primary" href="javascript:void(0)" routerLink="import-extnet">
        <i class="fa fa-plus mr-1"></i>导入外网
      </a>

      <a class="btn btn-outline-primary" href="javascript:void(0)" (click)="removeExtnet()">
        <i class="fa fa-minus mr-1"></i>移除外网
      </a>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-lg-12">
      <div class="card card-default">
        <div class="card-block">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>ID</th>
                <th>名称</th>
              </tr>
              </thead>
              <tbody  *ngIf="extnets">
              <tr *ngFor="let item of extnets">
                  <td>
                      <span *ngIf="check(item.id)">
                          <input type="checkbox" (change)="checkExtnetRemove($event, item.uuid)" [value]="item.uuid">
                      </span>
                       {{item.uuid}}
                  </td>
                  <td>{{item.name}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

