<div>
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink=""><i class="fa fa-dashboard"></i> 控制台</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/storage"><i class="fa fa-hdd-o"></i> 存储</a>
        </li>
        <li class="breadcrumb-item active">
          创建存储
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <form role="form" (submit)="onSubmit()">
        <fieldset class="form-group">
          <label class="must-type">* 名称</label>
          <input name="name" class="form-control" [(ngModel)]="name" required placeholder="名称">
        </fieldset>

        <fieldset class="form-group">
          <label class="must-type">* 存储协议</label>
          <select class="form-control" name="type" [(ngModel)]="type" required>
            <option value="NFS">NFS</option>
            <option value="GLUSTERFS">GLUSTERFS</option>
          </select>
         </fieldset>

        <fieldset class="form-group">
          <label class="must-type">* 容量</label>
          <input name="size" [(ngModel)]="size"  class="form-control" required min="0">
        </fieldset>

        <button type="submit" data-toggle="modal" class="btn btn-primary">创建</button>
        <button class="btn btn-secondary" routerLink="/storage">取消</button>
      </form>
    </div>
  </div>
</div>

<div *ngIf="canShow">
  <processbar [title]="removeTitle" [msg]="removeMsg"></processbar>
</div>
