<div>
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink=""><i class="fa fa-dashboard"></i> 控制台</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/storage"><i class="fa fa-hdd-o"></i> 存储</a>
        </li>
        <li class="breadcrumb-item active">
          创建存储
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <form role="form">
        <fieldset class="form-group">
          <label class="must-type">* 名称</label>
          <input name="name" class="form-control" placeholder="my-storage-request">
          <p class="help-block text-describe">A unique name for the storage claim within the project.</p>
        </fieldset>

        <fieldset class="form-group">
          <label class="must-type">* 访问模式</label>
          <br>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions"> Single User （RWO）&nbsp
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions"> Shared Access （RWX）
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions"> Read Only （ROX）
          </label>
          <p class="help-block text-describe">Permissions to the mounted volume.</p>
        </fieldset>

        <fieldset class="form-group">
          <label class="must-type">* 容量</label>
          <div class="row">
            <div class="col-xs-2">
              <input type="number" class="form-control" ng-required="true" min="0">
            </div>
            <div class="col-xs-2">
              <div class="row">
                <div class="col-xs-7">
                  <select class="form-control">
                    <option>MB</option>
                    <option>GB</option>
                    <option>TB</option>
                    <option>PB</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <p class="help-block text-describe">Size of the storage request.</p>
        </fieldset>

        <button type="button" (click)="create()" class="btn btn-primary">创建</button>
        <button class="btn btn-secondary" routerLink="/route">取消</button>
      </form>
    </div>
  </div>
</div>
