<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-xl-12">
        <h1 class="page-header">
          项目管理
        </h1>
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-dashboard"></i>
            <a> Dashboard</a>
          </li>
          <li class="active">
            <i class="fa fa-th-list"></i> Project
          </li>
        </ol>
      </div>
    </div>
    <div class="row mb-10">
      <div class="col-xl-12">
        <label>Projects</label>
        <button routerLink="create-project" type="button" class="btn btn-primary pull-right">新建项目</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-default">
          <div class="card-block">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>名称</th>
                  <th>显示名称</th>
                  <th>描述</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let project of projects; let i=index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{project.name}}</td>
                  <td>{{project.display_name}}</td>
                  <td>{{project.description}}</td>
                  <td><i routerLink="{{project.name}}/edit"  class="fa fa-pencil mr-10" aria-hidden="true"></i>  <app-delete [project]="project"></app-delete> </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <template ngbModalContainer></template>
</div>
