<div id="page-wrapper">

  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
      <div class="col-xl-12">
        <h1 class="page-header">
          Service
        </h1>
        <ol class="breadcrumb">
          <li>
            <a href="javascript:void(0)" routerLink="/services"> 服务</a>
          </li>
          <li class="active">
            {{appService.name}}
          </li>
        </ol>
      </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
          <label><strong>{{appService.name}}</strong>&nbsp;<small> 创建 {{appService.age}} 之前</small></label>
          <div ngbDropdown class="d-inline-block pull-right">
            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>操作</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <button  class="dropdown-item"><a routerLink="/route/create-route" href="javascript:void(0)">创建路由</a></button>
              <button class="dropdown-item">编辑YAML</button>
              <button class="dropdown-item">删除</button>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div  ngbRadioGroup name="radioBasic">
          <label class="btn btn-primary">
            <input type="radio" [value]="1">app
          </label>
          <label class="btn btn-secondary">
            <input type="radio" value="middle">nodejs-mongodb-example
          </label>
        </div>
        <div  ngbRadioGroup name="radioBasic2">
          <label class="btn btn-primary">
            <input type="radio" [value]="1">template
          </label>
          <label class="btn btn-secondary">
            <input type="radio" value="middle">nodejs-mongodb-example
          </label>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
       <div class="col-xl-6">
         <ngb-tabset>
           <ngb-tab title="详细信息">
             <template ngbTabContent>
               <div class="row">
                 <div class="col-xl-6">
                   <strong>选择器：</strong><label class="pull-right">{{appService.selector}}</label>
                 </div>
               </div>
               <div class="row">
                 <div class="col-xl-6">
                   <strong>类型：</strong><label class="pull-right">ClusterIP</label>
                 </div>
               </div>
               <div class="row">
                 <div class="col-xl-6">
                   <strong>IP：</strong><label class="pull-right">{{appService.clusterIp}}</label>
                 </div>
               </div>
               <div class="row">
                 <div class="col-xl-6">
                   <strong>会话关联：</strong><label class="pull-right">None</label>
                 </div>
               </div>
               <div class="row">
                 <div class="col-xl-6">
                   <strong>路由：</strong><label class="pull-right"><a routerLink="/route/create-route" href="javascript:void(0)">Create route</a></label>
                 </div>
               </div>
               <div class="row">
                 <div class="col-lg-12">
                   <div class="card card-default">
                     <div class="card-block">
                       <div class="table-responsive">
                         <table class="table">
                           <thead>
                           <tr>
                             <th>节点端口</th>
                             <th>&nbsp;</th>
                             <th>服务端口</th>
                             <th>&nbsp;</th>
                             <th>目标端口</th>
                           </tr>
                           </thead>
                           <tbody>
                           <tr>
                             <td>none</td>
                             <td><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
                             <td>{{appService.ports}}</td>
                             <td><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
                             <td>27017</td>
                           </tr>
                           </tbody>
                         </table>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </template>
           </ngb-tab>
           <ngb-tab title="事件">
             <template ngbTabContent>
               <div class="row" style="margin-top: 10px">
                 <div class="col-xl-12">
                   <input type="text" placeholder="Filter by keyword">
                  排序方式<select>
                     <option>时间</option>
                     <option>严重性</option>
                     <option selected>原因</option>
                     <option>消息</option>
                     <option>计数</option>
                   </select>
                 </div>
               </div>
               <div class="row" style="margin-top: 10px;">
                 <div class="col-xl-12">
                   <div class="card card-default">
                     <div class="card-block">
                       <div class="table-responsive">
                         <table class="table">
                           <thead>
                           <tr>
                             <th>时间</th>
                             <th>原因</th>
                             <th>消息</th>
                           </tr>
                           </thead>
                           <tbody>
                           <tr>
                            <td colspan="3">没有要显示的事件。</td>
                           </tr>
                           </tbody>
                         </table>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </template>
           </ngb-tab>
         </ngb-tabset>
       </div>
    </div>
  </div>
</div>
