<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">
        <i class="fa fa-dashboard"></i> 概况
      </li>
    </ol>
  </div>

  <div class="col-xs-6">
    <div ngbDropdown class="project-selector">
      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>{{currentProject}}</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <button class="dropdown-item" *ngFor="let p of projects" (click)="selectProject(p)">{{ p }}</button>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <overview-service-group></overview-service-group>
    <overview-service-group></overview-service-group>
  </div>
</div>
