<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink=""><i class="fa fa-dashboard"></i> 控制台</a>
        </li>
        <li class="breadcrumb-item active">
          <i class="fa fa-eercast"></i> 路由器管理
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <a class="btn btn-outline-primary" href="javascript:void(0)" data-toggle="modal" data-target="#importRouterModal">
        <i class="fa fa-plus mr-1"></i>导入路由器
      </a>
      <a class="btn btn-outline-primary" href="javascript:void(0)" (click)="removeRouter()">
        <i class="fa fa-minus mr-1"></i>移除路由器
      </a>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-lg-12">
      <div class="card card-default">
        <div class="card-block">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>ID</th>
                <th>名称</th>
                <th>状态</th>
                <th>创建时间</th>
              </tr>
              </thead>
              <tbody  *ngIf="routers">
              <tr *ngFor="let item of routers">
                <template [ngIf]="item.status==='3'">
                <td><span *ngIf="!item.taskId"><input type="checkbox" (change)="checkRouterRemove($event, item.id)" [value]="item.id"> </span>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.status | iaasStatus}}</td>
                <td>{{item.createTime | date}}</td>
                </template>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="importRouterModal" tabindex="-1" role="dialog" aria-labelledby="importRouterModalLabel" aria-hidden="true">
  <form #routersForm="ngForm" (ngSubmit)="importRouterSubmit()">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModalLabel">导入路由器</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <import-router [importRouterList]="routerList" (onSave)="saveChkRouterIds($event)"></import-router>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-secondary" data-dismiss="modal" (click)="resetRouterIds()">取消</button>
          <button type="submit" class="btn btn-primary" [disabled]="!importFlag">导入</button>
        </div>
      </div>
    </div>
  </form>
</div>
