.mt-0{
  margin-top: 0em;
}
.mb-0{
  margin-bottom: 0;
}
.vertical-divider{
  border-left: 1px solid #bbb;
  display: inline-block;
  height: 25px;
  margin: 0 7px;
  vertical-align: middle;
  width: 1px;
}

.inline  {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.item{
  margin: 5px 5px;
}
.item_head{
  border:1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 0.7em;
  padding: 5px 0;
}
.item_head:hover{
  background-color: rgb(221, 221, 221);
  cursor: pointer;
}
.console{
  padding: 20px;
  height: 250px;
  border:1px solid #ccc;
  border-radius: 0.25rem;
  background-color: black;
}
