<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          持续集成持续部署
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-dashboard"></i> CI/CD
          </li>
        </ol>
      </div>

      <hr class="mt-0">
      <div class="row">

        <div class="col-lg-12">
          <form class="form-inline" role="form">
            <div class="form-group">
              <input type="search" placeholder="Filter by keyword" class="form-control">
            </div>
            <select name="keyword" [(ngModel)]="selectType" class="form-control">
              <option>All</option>
              <option>Instant Apps</option>
              <option>PHP</option>
              <option>Java</option>
              <option>Perl</option>
              <option>Ruby</option>
              <option>Python</option>
              <option>NodeJS</option>
              <option>Databases</option>
              <option>Other</option>
            </select>
          </form>
        </div>
      </div>
      <hr>
      <div class="row" *ngIf="selectType==='All'|| selectType=='Builds'">
        <div class="col-lg-12">
          <div class="card card-block">
            <h4 class="card-title">Instant Apps</h4>
            <hr/>
            <div *ngFor="let template of templates">
              <app-template-info [templateTarget]="template"></app-template-info>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
