<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <h3>配额管理</h3>
        <div>Limits resource usage within this project.</div>
        <em>There are no resource quotas set on this project.</em>
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-xl-12">
        <h3>Limit Range</h3>
        <div>Defines minimum and maximum constraints for runtime resources such as memory and CPU.</div>
        <em>There are no limit ranges set on this project.</em>
      </div>
    </div>
  </div>
</div>
